
h1{
    color:aqua !important
}
h1{
    color:beige 
}
.para1{
    color:brown
}
.para2{
    color:green;
    font-size: 20px;
    font-weight:1000;
    text-decoration:underline;
}
.container{
    height: 50px;
    width:  50px;
    background-color:blueviolet;
    padding :15px 10px;
    padding

}